body {
  background: url(img/Salon_Background.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10%;
}

h1 {
	color: white;
}
p {
	color: white;
}

label {
	color: white;
}